/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache

/public/build
/storage/pail
.env.backup
.env.production
.phpactor.json
auth.json
# 1. SECURITY RISKS (Never push these!)
.env
.env.local
.env.development.local

# 2. MASSIVE DEPENDENCY FOLDERS (Will freeze Git)
node_modules/
bower_components/

# 3. ENVIRONMENT & OS JUNK
.DS_Store
Thumbs.db
.vscode/

# 4. CACHES & LOGS
npm-debug.log*
yarn-error.log*
.eslintcache
