<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Inform Apache that the root directory should silently map to /public
    RewriteRule ^$ public/ [L]
    
    # If the file or directory exists in /public, serve it directly
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>